
html {
    background-color: rgb(238, 238, 238);;
}

.body {
    padding-top: 5rem;
    background-color: rgb(238, 238, 238);
    color: black;
}

.loading {
    margin-top: 10vw;
    margin-left: 50%;
    margin-bottom: 10vw;
    color:#2A78B5;
}


.hex-button {
    padding-top: 1rem;
    padding-left: 35vw;
    padding-right: 1vw;
    padding-bottom: 1vw;
}

.dropdown {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-radius: 2pt;
}

.device-dropdown {
    padding-left: 1rem;
    padding-right: 1rem;
}

.vehicle-dropdown {
    padding-left: 1rem;
}


.table-row:hover {
    border-color:#2A78B5;
    background-color: #2A78B5;
    color: #2A78B5;
}


/* https://stackoverflow.com/questions/32355009/changing-pagination-colour-bootstrap/32355258 */
.pagination {
    margin-top: 2%;
    justify-content: center;
}