
.body {
    padding-top: 2rem;
    background-color: #31363b;
    color: white;
}

.loading {
    justify-content: center;
    padding-left: 40vw;
    font-size: 5vw;
}

.figcaption {
    position: absolute;
    top: 5vw;
    left: 30vw;
}

.hex-button {
    padding-left: 17vw;
    padding-right: 1vw;
    padding-bottom: 1vw;
}

.dropdown {
    background-color: #212529;
    color: white;
    border-radius: 2pt;
}

.device-dropdown {
    padding-left: 1rem;
    padding-right: 1rem;
}

.vehicle-dropdown {
    padding-left: 1rem;
}


.table-row:hover {
    border-color:#2A78B5;
    background-color: #2A78B5;
    color: #2A78B5;
}


/* https://stackoverflow.com/questions/32355009/changing-pagination-colour-bootstrap/32355258 */
.pagination > li > a
{
    border-color:#212529;
    background-color: #2A78B5;
    color: white;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #ffffff;
    background-color: #38a1f1;
    border-color: rgb(255, 255, 255);
}


.pagination > .active > a
{
    color: rgb(76, 76, 76);
    background-color: #534d4d !Important;
    border: solid 1px #787878 !Important;
}

.pagination > .active > a:hover
{
    background-color: #5A4181 !Important;
    border: solid 1px #5A4181;
}